[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bertopic = "==0.16.2"
certifi = "==2024.2.2"
chardet = "==5.2.0"
click = "==8.1.7"
click-config-file = "==0.6.0"
click-plugins = "==1.1.1"
configobj = "==5.0.8"
cython = "==0.29.37"
dnspython = "==2.6.1"
eventlet = "==0.36.1"
filelock = "==3.14.0"
flask = "==3.0.3"
gevent = "==24.2.1"
greenlet = "==3.0.3"
gunicorn = "==22.0.0"
hdbscan = "==0.8.33"
huggingface-hub = "==0.23.1"
idna = "==3.7"
importlib-metadata = "==7.1.0"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.4"
joblib = "==1.4.2"
llvmlite = "==0.42.0"
markupsafe = "==2.1.5"
matplotlib = "==3.9.0"
nltk = "==3.8.1"
numba = "==0.59.1"
numpy = "==1.26.4"
oauthlib = "==3.2.2"
packaging = "==24.0"
pandas = "==2.2.2"
pillow = "==10.3.0"
plotly = "==5.22.0"
pynndescent = "==0.5.12"
pyparsing = "==3.1.2"
python-dateutil = "==2.9.0.post0"
pytz = "==2024.1"
regex = "==2024.5.15"
requests = "==2.32.2"
requests-oauthlib = "==2.0.0"
retrying = "==1.3.4"
sacremoses = "==0.1.1"
scikit-learn = "==1.5.0"
scipy = "==1.13.0"
sentence-transformers = "==2.7.0"
sentencepiece = "==0.2.0"
six = "==1.16.0"
telethon = "==1.35.0"
threadpoolctl = "==3.5.0"
tokenizers = "==0.19.1"
torch = "==2.3.0"
torchvision = "==0.18.0"
tqdm = "==4.66.4"
transformers = "==4.41.1"
twarc = "==2.14.0"
typing-extensions = "==4.11.0"
umap-learn = "==0.5.6"
urllib3 = "==2.2.1"
werkzeug = "==3.0.3"
zipp = "==3.18.2"
"zope.event" = "==5.0"
"zope.interface" = "==6.4.post0"
spacy = "*"
python-dotenv = "*"
asgiref = "*"
uvicorn = "*"
praw = "*"
langdetect = "*"

[dev-packages]

[requires]
python_version = "3.11"
