.topics-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .division {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    margin: 10px 0;
  }
  
  .subcolumn {
    flex: 1;
    margin: 0 5px;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .topics-left {
    flex: 1.5;
    padding: 20px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    height: 100vh;
  }
  
  .topics-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .topics-list-container {
    margin-bottom: 20px;
  }
  
  .topics-list-container h2 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .topics-list {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  
  .topics-list-item {
    margin-bottom: 5px;
    cursor: default;
  }
  
  .original-text-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .original-text-container h2 {
    margin-bottom: 10px;
  }
  
  .scrollable-text {
    max-height: 100px;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
  }
  
  .scrollable-text-summary {
    max-height: 600px;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
  }
  
  .topics-bubbles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    align-items: flex-start;
  }
  
  .bubble {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0800ff;
    color: white;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    font-weight: bold;
    transition: transform 0.3s ease;
    width: 90px;
    height: 90px;
  }
  
  .bubble:hover {
    transform: scale(1.1);
  }
  
  .bubble::after {
    content: attr(data-percentage);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .bubble:hover::after {
    opacity: 1;
  }
  
  .bubble-text {
    padding: 5px;
    word-wrap: break-word;
    text-align: center;
  }
  
  .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
  .summary-placeholder {
    margin-top: 10px;
    padding: 10px;
    background-color: #f1e9e9;
    border: 1px solid #7d7d7d;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #555;
  }
  
  .chart-container {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .topics-list-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  
  .legend-color {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .summary-container {
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
  }
  
  .generate-article-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fb0404;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  
  .generate-article-button:hover {
    background-color: #086d0c;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
  }
  
  .popup-content ul {
    list-style: none;
    padding: 0;
  }
  
  .popup-content ul li {
    padding: 10px;
    cursor: pointer;
    background: #f4f4f4;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .popup-content ul li:hover {
    background: #3d8d13;
  }
  
  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    color: white;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .perspectives-container {
    margin-top: 20px;
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
  }
  
  .perspective-item {
    margin-bottom: 10px;
  }
  
  .perspective-item summary {
    cursor: pointer;
    font-weight: bold;
    color: #003366;
  }
  
  .perspective-item p {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
  }
  