.hot-topics-container {
  align-items: start;
  border-radius: 8px;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  display: flex;
  width: 20vw;
  flex-direction: column;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  line-height: 150%;
  padding: 24px;
}
