.api-selector-container {
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.api-selector-message {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 16px;
  color: #555;
}

.api-selector-box {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 0px;
}

.api-selector-item {
  padding: 16px 24px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;
  color: #333;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.api-selector-item:hover {
  background-color: #d4d4d4;
  transform: translateY(-3px);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.api-selector-item-selected {
  background-color: #0073e6;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 115, 230, 0.3);
  transform: scale(1.05);
}
